

<div class="row center-xs">
  <div class="col-xs-8 col-md-6">

	<%  @articles.each do |article|  %>
		<div  style="border: 1px solid black">
		<h1 class="be-red white large-padding">
		Titular: 
		<%= link_to article.title, article %></h1>
		
		<h3>
		Bajada:<%= article.down %>

		</h3>
		<h4>
		Cuerpo:	<%= article.body %>
		</h4>
		<h3>
			 Fecha de creacion: <%= article.created_at %>
		</h3>
		<h3>
				Cantidad de Comentarios: <%= article.comments.count%>
		</h3>

		<% if adm_signed_in? %>
		<%= link_to "Editar", edit_article_path(article), class:"btn" %>
		 <%= link_to "Eliminar" , article , method: :delete,class:"btn" %>
		
		<%end%>
		</div>
		


		<%end%>
	</div>
</div>